src/main/resources/xml/TSMSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="stored_procedure">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" maxOccurs="unbounded"/>
				<xs:element ref="Query_Screen"/>
				<xs:element ref="Input_Map"/>
				<xs:element ref="sequence"/>
				<xs:element ref="Default_Output_Map"/>
				<xs:element ref="Output_On_Error_Map"/>
				<xs:element ref="Map_Output_List"/>
				<xs:element ref="Fields_To_Update"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="store_procedures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stored_procedure" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Stored Procedures"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="statuses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Statuses"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="status">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Message" minOccurs="0"/>
				<xs:element ref="Status_Flow" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sequences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sequence" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sequence">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="Occurence" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="screens">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="screen" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="screen_templates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="screen_template" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Application Screen Templates"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="screen_template">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" maxOccurs="unbounded"/>
				<xs:element ref="Field_Font"/>
				<xs:element ref="Label_Font"/>
				<xs:element ref="Characteristic" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Top" type="xs:string" use="required"/>
			<xs:attribute name="Template" type="xs:string" use="required"/>
			<xs:attribute name="Style" type="xs:string" use="required"/>
			<xs:attribute name="Right" type="xs:string" use="required"/>
			<xs:attribute name="Left" type="xs:string" use="required"/>
			<xs:attribute name="Label_Color_Text" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RGB(0, 0, 0)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Label_Color" type="xs:string" use="required"/>
			<xs:attribute name="Extended_Style" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="required"/>
			<xs:attribute name="Characteristic_Color_Text" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RGB(0, 0, 0)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Characteristic_Color" type="xs:string" use="required"/>
			<xs:attribute name="Characteristic_Background_Color_Text" type="xs:string" use="required"/>
			<xs:attribute name="Characteristic_Background_Color" type="xs:string" use="required"/>
			<xs:attribute name="Bottom" type="xs:string" use="required"/>
			<xs:attribute name="Background_Color_Text" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RGB(236, 233, 216)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Background_Color" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="screen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" maxOccurs="unbounded"/>
				<xs:element ref="Field_Font"/>
				<xs:element ref="Label_Font"/>
				<xs:element ref="Characteristic" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Top" type="xs:string" use="required"/>
			<xs:attribute name="Template" type="xs:string" use="required"/>
			<xs:attribute name="Style" type="xs:string" use="required"/>
			<xs:attribute name="Right" type="xs:string" use="required"/>
			<xs:attribute name="Left" type="xs:string" use="required"/>
			<xs:attribute name="Label_Color_Text" type="xs:string" use="required"/>
			<xs:attribute name="Label_Color" type="xs:string" use="required"/>
			<xs:attribute name="Extended_Style" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="required"/>
			<xs:attribute name="Characteristic_Color_Text" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RGB(0, 0, 0)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Characteristic_Color" type="xs:string" use="required"/>
			<xs:attribute name="Characteristic_Background_Color_Text" type="xs:string" use="required"/>
			<xs:attribute name="Characteristic_Background_Color" type="xs:string" use="required"/>
			<xs:attribute name="Bottom" type="xs:string" use="required"/>
			<xs:attribute name="Background_Color_Text" type="xs:string" use="required"/>
			<xs:attribute name="Background_Color" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rule" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rule">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="rule_string" type="xs:string" use="required"/>
			<xs:attribute name="rule_description" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="option">
		<xs:complexType>
			<xs:attribute name="set" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="menus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="menu_bar" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Menu Bars"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="menu_item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" maxOccurs="unbounded"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="statuses"/>
						<xs:choice>
							<xs:sequence>
								<xs:element ref="Query_Screen"/>
								<xs:choice minOccurs="0">
									<xs:element ref="Order_List"/>
									<xs:sequence>
										<xs:element ref="Hook_Before_Query"/>
										<xs:element ref="Browse_Sequence"/>
									</xs:sequence>
								</xs:choice>
								<xs:element ref="Historic_Hidden_Characteristics"/>
								<xs:element ref="Historic_Leading_Blank_Characteristics"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="Historic_Hidden_Characteristics"/>
								<xs:element ref="Historic_Leading_Blank_Characteristics"/>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="sequence"/>
						<xs:element ref="statuses"/>
						<xs:choice>
							<xs:sequence>
								<xs:element ref="Query_Screen"/>
								<xs:choice>
									<xs:sequence>
										<xs:element ref="Hook_Before_Query"/>
										<xs:element ref="Order_List" minOccurs="0"/>
										<xs:element ref="Historic_Hidden_Characteristics"/>
										<xs:element ref="Historic_Leading_Blank_Characteristics"/>
									</xs:sequence>
									<xs:sequence>
										<xs:element ref="Historic_Hidden_Characteristics"/>
										<xs:element ref="Historic_Leading_Blank_Characteristics"/>
									</xs:sequence>
								</xs:choice>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="Historic_Hidden_Characteristics"/>
								<xs:element ref="Historic_Leading_Blank_Characteristics"/>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Query_Timeout" type="xs:string" use="required"/>
			<xs:attribute name="Parent_Id" type="xs:string" use="required"/>
			<xs:attribute name="Menu_Type" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="menu_bar">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="menu_item" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="matrix">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option"/>
				<xs:element ref="Generated_Characteristics"/>
				<xs:element ref="Row_Characteristic"/>
				<xs:element ref="Column_Characteristic"/>
				<xs:element ref="Generation_List"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="maps">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="map" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Application Maps"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mappings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mapping"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Mapping List"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="element" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Entity Model"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" maxOccurs="unbounded"/>
				<xs:element ref="Mapping_List"/>
			</xs:sequence>
			<xs:attribute name="xslt_file" type="xs:string" use="required"/>
			<xs:attribute name="xml_file" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="format" type="xs:string" use="required"/>
			<xs:attribute name="delimiter" type="xs:string" use="required"/>
			<xs:attribute name="Maximum_record_position" type="xs:string" use="required"/>
			<xs:attribute name="Comment" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="generations">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="conditional_expression" maxOccurs="unbounded"/>
				<xs:element ref="distribution"/>
				<xs:element ref="matrix" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fonts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="font" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Fonts"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="font">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Underline" type="xs:string" use="required"/>
			<xs:attribute name="Strike" type="xs:string" use="required"/>
			<xs:attribute name="Size" type="xs:string" use="required"/>
			<xs:attribute name="Italic" type="xs:string" use="required"/>
			<xs:attribute name="FontWeight" type="xs:string" use="required"/>
			<xs:attribute name="FontName" type="xs:string" use="required"/>
			<xs:attribute name="Comment" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="element">
		<xs:complexType>
			<xs:attribute name="trs_table_name" type="xs:string" use="required"/>
			<xs:attribute name="table_id" type="xs:string" use="required"/>
			<xs:attribute name="pc_table_name" type="xs:string" use="required"/>
			<xs:attribute name="entity_model" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="distribution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option"/>
				<xs:element ref="Generated_Characteristics"/>
				<xs:element ref="Selection_Characteristic"/>
				<xs:element ref="Generation_List"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Translate UG Hook Return Code"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Comment" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="conditional_expression">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" maxOccurs="unbounded"/>
				<xs:element ref="Generated_Characteristics"/>
				<xs:element ref="Generation_List"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Comment" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="actions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Application Actions"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="action">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Action_List" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Comment" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Visible_Condition">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TableRelationList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TableRelation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TableRelation">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="tablesrc" type="xs:string" use="required"/>
			<xs:attribute name="tabledst" type="xs:string" use="required"/>
			<xs:attribute name="position" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TableList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Table" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Criteria" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="position" type="xs:string" use="required"/>
			<xs:attribute name="objectId" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status_Flow">
		<xs:complexType>
			<xs:attribute name="Status_id" type="xs:string" use="required"/>
			<xs:attribute name="Status_Name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetupData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TableList"/>
				<xs:element ref="TableRelationList"/>
				<xs:element ref="LangList"/>
				<xs:element ref="ClientSystem"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
			<xs:attribute name="tableNumber" type="xs:string" use="required"/>
			<xs:attribute name="sequNumber" type="xs:string" use="required"/>
			<xs:attribute name="saveNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N-A"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="predefSet" type="xs:string" use="required"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="langNumber" type="xs:string" use="required"/>
			<xs:attribute name="grpNumber" type="xs:string" use="required"/>
			<xs:attribute name="file" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="sberbank.cdf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="defaultLang" type="xs:string" use="required"/>
			<xs:attribute name="criteriaNumber" type="xs:string" use="required"/>
			<xs:attribute name="cardNumber" type="xs:string" use="required"/>
			<xs:attribute name="attribNumber" type="xs:string" use="required"/>
			<xs:attribute name="activeLang" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Selection_Characteristic">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="table_name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Temp"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="table_id" type="xs:string" use="required"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="HookUGReturnCode"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Row_Characteristic">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="table_name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Mortgage"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="table_id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Query_Screen">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Picture">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Output_On_Error_Map">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Order_List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Order" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Order">
		<xs:complexType>
			<xs:attribute name="Order" type="xs:string" use="required"/>
			<xs:attribute name="Characteristic" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="On_Exit">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="Condition_To_Process"/>
				<xs:sequence>
					<xs:choice>
						<xs:element ref="action"/>
						<xs:element ref="Hook"/>
						<xs:element ref="sequence"/>
					</xs:choice>
					<xs:element ref="Condition_To_Process" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="Option" type="xs:string" use="required"/>
			<xs:attribute name="Event_Procedure" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="On_Enter">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="Hook"/>
				<xs:sequence>
					<xs:element ref="action"/>
					<xs:element ref="Condition_To_Process" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="Option" type="xs:string" use="required"/>
			<xs:attribute name="Event_Procedure" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Occurence">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Condition" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="Occurence_Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Action"/>
						<xs:enumeration value="Message"/>
						<xs:enumeration value="Predefined Occurences"/>
						<xs:enumeration value="Screen"/>
						<xs:enumeration value="Sequence"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Index" type="xs:string"/>
			<xs:attribute name="Action_Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Action"/>
						<xs:enumeration value="Bureau Call"/>
						<xs:enumeration value="Decision"/>
						<xs:enumeration value="Generate Automatic Number"/>
						<xs:enumeration value="Generation"/>
						<xs:enumeration value="Get Parameter"/>
						<xs:enumeration value="Hook"/>
						<xs:enumeration value="Report"/>
						<xs:enumeration value="Save"/>
						<xs:enumeration value="Save Event"/>
						<xs:enumeration value="Status flow"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Message">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Mapping_List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Characteristic" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MappingSM">
		<xs:complexType>
			<xs:attribute name="table" type="xs:string" use="required"/>
			<xs:attribute name="direction" type="xs:string" use="required"/>
			<xs:attribute name="criteria" type="xs:string" use="required"/>
			<xs:attribute name="characteristic" type="xs:string" use="required"/>
			<xs:attribute name="builderLayout" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Map_Output_List">
		<xs:complexType>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogicalDataSource">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Characteristic" maxOccurs="unbounded"/>
				<xs:element ref="BuilderLayout"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LangMap">
		<xs:complexType>
			<xs:attribute name="position" type="xs:string" use="required"/>
			<xs:attribute name="notGrouped" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Not Grouped"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noInfo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=" "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="English"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dataNumber" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LangList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LangMap"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Label_Font">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Label">
		<xs:complexType>
			<xs:attribute name="Top" type="xs:string" use="required"/>
			<xs:attribute name="Right" type="xs:string" use="required"/>
			<xs:attribute name="Left" type="xs:string" use="required"/>
			<xs:attribute name="Color_Text" type="xs:string" use="required"/>
			<xs:attribute name="Color" type="xs:string" use="required"/>
			<xs:attribute name="Bottom" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Joined_Characteristics">
		<xs:complexType>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Input_Map">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Hook_Before_Query">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Hook">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Historic_Leading_Blank_Characteristics">
		<xs:complexType>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Historic_Hidden_Characteristics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Historic_Hidden_Characteristic" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Historic_Hidden_Characteristic">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="table_name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Historic"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="table_id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Generation_List">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="Condition_Statement" maxOccurs="unbounded"/>
				<xs:element ref="Generation" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Generation">
		<xs:complexType>
			<xs:attribute name="y-attrib" type="xs:string"/>
			<xs:attribute name="x-attrib" type="xs:string"/>
			<xs:attribute name="Comment" type="xs:string" use="optional"/>
			<xs:attribute name="attrib_Value" type="xs:string"/>
			<xs:attribute name="attrib_Option_NoInfo" type="xs:string"/>
			<xs:attribute name="attrib" type="xs:string"/>
			<xs:attribute name="Expression_Name" type="xs:string"/>
			<xs:attribute name="Expression_Id" type="xs:string"/>
			<xs:attribute name="Expression_Description" type="xs:string"/>
			<xs:attribute name="Expression" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Generated_Characteristics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Generated_Characteristic" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Generated_Characteristic">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="table_name" type="xs:string" use="required"/>
			<xs:attribute name="table_id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fields_To_Update">
		<xs:complexType>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Field_Font">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DesignReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DesignData"/>
				<xs:element ref="SetupData"/>
				<xs:element ref="mappings"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DesignData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="menus"/>
				<xs:element ref="store_procedures"/>
				<xs:element ref="fonts"/>
				<xs:element ref="statuses"/>
				<xs:element ref="rules" maxOccurs="unbounded"/>
				<xs:element ref="sequences" maxOccurs="unbounded"/>
				<xs:element ref="actions"/>
				<xs:element ref="maps"/>
				<xs:element ref="screens" maxOccurs="unbounded"/>
				<xs:element ref="generations" maxOccurs="unbounded"/>
				<xs:element ref="screen_templates"/>
			</xs:sequence>
			<xs:attribute name="system" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="F:\DIFF\HF00\sberbank.cfg"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="release_nb" type="xs:string" use="required"/>
			<xs:attribute name="objects_lists_form" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Transact XML Exporter"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Default_Output_Map">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Criteria">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Attrib" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="storage" type="xs:string" use="required"/>
			<xs:attribute name="shortName" type="xs:string" use="required"/>
			<xs:attribute name="position" type="xs:string" use="required"/>
			<xs:attribute name="parentName" type="xs:string" use="required"/>
			<xs:attribute name="objectId" type="xs:string" use="required"/>
			<xs:attribute name="longName" type="xs:string" use="required"/>
			<xs:attribute name="length" type="xs:string" use="required"/>
			<xs:attribute name="isRedefine" type="xs:string" use="required"/>
			<xs:attribute name="format" type="xs:string" use="required"/>
			<xs:attribute name="displacement" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Condition_To_Process">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Condition_Statement">
		<xs:complexType>
			<xs:attribute name="Comment" type="xs:string" use="optional"/>
			<xs:attribute name="Expression_Name" type="xs:string"/>
			<xs:attribute name="Expression_Id" type="xs:string" use="required"/>
			<xs:attribute name="Expression_Description" type="xs:string"/>
			<xs:attribute name="Condition_Name" type="xs:string"/>
			<xs:attribute name="Condition_Id" type="xs:string" use="required"/>
			<xs:attribute name="Condition_Description" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Condition">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Column_Characteristic">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="table_name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Applicants"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="table_id" type="xs:string" use="required"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Currency"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClientSystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LogicalDataSource" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="reasonCodeNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N-A"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="mappingSMNumber" type="xs:string" use="required"/>
			<xs:attribute name="globalDataSrcNumber" type="xs:string" use="required"/>
			<xs:attribute name="dataSrcNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N-A"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="characNumber" type="xs:string" use="required"/>
			<xs:attribute name="businessAreaNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N-A"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bObjectiveNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="N-A"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="bLayoutNumber" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Characteristic">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="option" maxOccurs="unbounded"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="Joined_Characteristics" minOccurs="0"/>
						<xs:element ref="On_Enter"/>
						<xs:element ref="On_Exit"/>
						<xs:element ref="Visible_Condition" minOccurs="0"/>
						<xs:element ref="Appearance"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="Visible_Condition" minOccurs="0"/>
						<xs:element ref="Appearance"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="Picture"/>
						<xs:choice>
							<xs:element ref="Appearance"/>
							<xs:sequence>
								<xs:element ref="On_Exit"/>
								<xs:element ref="Calculation"/>
								<xs:element ref="Visible_Condition" minOccurs="0"/>
								<xs:element ref="Appearance"/>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="Caption"/>
						<xs:choice>
							<xs:sequence>
								<xs:sequence minOccurs="0">
									<xs:sequence minOccurs="0">
										<xs:element ref="Calculation"/>
										<xs:element ref="On_Enter"/>
										<xs:element ref="On_Exit"/>
									</xs:sequence>
									<xs:element ref="Visible_Condition"/>
								</xs:sequence>
								<xs:element ref="Appearance"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="Picture"/>
								<xs:element ref="Calculation" minOccurs="0"/>
								<xs:element ref="On_Exit"/>
								<xs:element ref="Calculation"/>
								<xs:element ref="Visible_Condition" minOccurs="0"/>
								<xs:element ref="Appearance"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="On_Enter"/>
								<xs:element ref="On_Exit"/>
								<xs:element ref="Visible_Condition" minOccurs="0"/>
								<xs:element ref="Appearance"/>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="Calculation"/>
						<xs:choice>
							<xs:sequence>
								<xs:element ref="On_Enter"/>
								<xs:element ref="On_Exit"/>
								<xs:element ref="Visible_Condition" minOccurs="0"/>
								<xs:element ref="Appearance"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="Joined_Characteristics"/>
								<xs:element ref="On_Enter"/>
								<xs:element ref="On_Exit"/>
								<xs:element ref="Visible_Condition"/>
								<xs:element ref="Appearance"/>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="table_name" type="xs:string"/>
			<xs:attribute name="precision" type="xs:string"/>
			<xs:attribute name="parent" type="xs:string"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="length" type="xs:string"/>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="arraySize" type="xs:string"/>
			<xs:attribute name="VisibilityCond" type="xs:string"/>
			<xs:attribute name="Top" type="xs:string"/>
			<xs:attribute name="Title" type="xs:string"/>
			<xs:attribute name="Tab_Order" type="xs:string"/>
			<xs:attribute name="Right" type="xs:string"/>
			<xs:attribute name="OutputCond" type="xs:string"/>
			<xs:attribute name="Order" type="xs:string"/>
			<xs:attribute name="Option_Autovalue" type="xs:string"/>
			<xs:attribute name="Operator" type="xs:string"/>
			<xs:attribute name="Numeric_Characteristics" type="xs:string"/>
			<xs:attribute name="Left" type="xs:string"/>
			<xs:attribute name="Generation_From" type="xs:string"/>
			<xs:attribute name="Generation" type="xs:string"/>
			<xs:attribute name="CritId" type="xs:string"/>
			<xs:attribute name="Color_Text" type="xs:string"/>
			<xs:attribute name="Color" type="xs:string"/>
			<xs:attribute name="Case" type="xs:string"/>
			<xs:attribute name="Caption_Text" type="xs:string"/>
			<xs:attribute name="Bottom" type="xs:string"/>
			<xs:attribute name="Background_Color_Text" type="xs:string"/>
			<xs:attribute name="Background_Color" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Caption">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Calculation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="conditional_expression" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuilderLayout">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MappingSM" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Browse_Sequence">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Attrib">
		<xs:complexType>
			<xs:attribute name="value2" type="xs:string" use="required"/>
			<xs:attribute name="value1" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="position" type="xs:string" use="required"/>
			<xs:attribute name="parentName" type="xs:string" use="required"/>
			<xs:attribute name="objectId" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Appearance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Label"/>
				<xs:element ref="Characteristic"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="Field_Font"/>
					<xs:element ref="Label_Font"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="Style" type="xs:string"/>
			<xs:attribute name="Extended_Style" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Action_List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Occurence" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="element_nb" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
